.list-books-content {
    padding: 0 2vw 8vh 2vw;
    flex: 1;
    display: inline-flex;
    max-width: 100vw;
    overflow-x: auto;
    min-height: 25vh;
    width: 100%;
}

.empty-list-books {
    padding: 2vh 2vw 2vh 2vw;
    display: block;
    text-align: center;
    width: 100%;
}

.empty-list-books h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.1em;
    font-weight: 300;
    color: rgb(160, 160, 160);
}

.empty-list-books p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: 10;
    color: rgb(160, 160, 160);
}